name: Robot Framework CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Chromium
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium chromium-driver

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Robot Framework Tests
        env:
          CI: "true"
        run: |
          robot \
            --outputdir reports \
            --loglevel TRACE \
            tests/

      - name: Upload Robot Framework Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-report
          path: reports/
